* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

nav {
  height: 100px;
  background-color: chartreuse;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid orange;
}
nav .logo {
  width: 200px;
  padding-left: 30px;
}
nav .logo img {
  width: 100px;
  height: 100px;
}
nav .links {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  color: orange;
  font-weight: bolder;
  font-size: 24px;
}
nav .links span {
  color: white;
  margin-top: 5px;
}

.app {
  min-height: 500px;
  width: 100%;
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
.app .photoWrapper {
  width: 800px;
  min-height: 800px;
  margin-left: 150px;
}
.app .photoWrapper .photoWrap {
  height: 400px;
  width: 400px;
  background-color: aliceblue;
  margin-bottom: 25px;
}
.app .photoWrapper .photoWrap img {
  width: 100%;
  height: 100%;
}
.app .middle-hero-wrap {
  width: 800px;
  height: 800px;
  background-color: aliceblue;
  background-image: url(https://assets.nick.com/uri/mgid:arc:imageassetref:nick.com:348862e8-daed-4089-897c-1fd7beb8e6e0?quality=0.7&quality=.7&height=0&width=1600&crop=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app .middle-hero-wrap h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-left: 10px;
}
.app .middle-hero-wrap h4 {
  color: orange;
  font-size: 30px;
  text-align: center;
}
.app .middle-hero-wrap p {
  color: white;
  font-size: 20px;
  text-align: center;
}