nav{
    height: 100px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid orange;

    .logo{
        width: 200px;
        // background-color: aliceblue;
        padding-left: 30px;

        img{
            width: 100px;
            height: 100px;
        }
    }

    .links{
        width: 30%;
        display: flex;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            color: orange;
            font-weight: bolder;
            font-size: 24px;
        }

        span{
            color: white;
            margin-top: 5px;
        }
    }
}